name: Setup

on:
    workflow_call:
        inputs:
            python:
                required: true
                type: string
            os:
                required: true
                type: string
            command:
                required: true
                type: string

env:
    UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    # Ensures Python uses UTF-8 encoding by default (otherwise rich fails on Windows runners)
    PYTHONUTF8: 1

jobs:
    setup:
        runs-on: ${{ inputs.os }}
        steps:
            - uses: actions/checkout@v4

            - name: Install Task
              uses: arduino/setup-task@v1
              with:
                  version: 3.x
                  repo-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Install UV
              uses: astral-sh/setup-uv@v6
              with:
                  enable-cache: true
                  python-version: ${{ inputs.python }}

            - name: Install dependencies with uv
              run: task setup

            - name: Command (bash)
              if: runner.os != 'Windows'
              run: ${{ inputs.command }}
              shell: bash

            - name: Command (pwsh)
              if: runner.os == 'Windows'
              run: ${{ inputs.command }}
              shell: pwsh
